<!DOCTYPE html>
<html>
<head>
   <title>App Login</title>

   <script src="/js/javascript.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <link href="/css/style.css" rel="stylesheet" />

</head>

<body>

<h3>App Login</h3>

<div>
  <form>
    <label for="email">Email address</label>
    <input type="text" id="email" name="Email address">

    <label for="password">Password</label>
    <input type="text" id="password" name="Password">
<br></br>
    <a href="sections">Login</a>
  </form>
</div>

</body>
</html>