<!doctype html>

<html>
<head>
   <title>Food Group</title>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="/js/javascript.js"></script>
   <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
   <header id="main-header">
      <div class="container">
         <h1><a href="#">Sections</a></h1>
      </div>
   </header>

   <section>
      <div class="container">
         {{#each Sections}}
         <h1><a class="sections" href="#" id="{{sectionName}}">{{sectionName}}</a></h1>
         {{/each}}
      </div>
   </section>

    <div class="container">
      <ul id="navbar">
         <li class="barli"><a href="sections" class="bar">Sections</a></li>
         <li class="barli"><a href="shoppingList" class="bar">Shopping List</a></li>
         <li class="barli"><a href="group" class="bar">Group</a></li>
      </ul>
   </div>

   <button id="addSectionbtn">+</button>

   <!--Add section popup-->
   <div id="myModal" class="modal">
      <div class="modal-content">
         <span class="close">&times;</span>
         <header id="addSection-header">Add Section</header>
         <form id="addSectionForm" role="form" method="get" action="/addSection">
            <label for="sectionName">Section:</label>
            <input type="text" id="sectionName" placeholder="Section" name="sectionName" /><br />
            <input type="submit" id="confirmSectionbtn" value="Add section" />
         </form>
         <!--<button id="confirmSectionbtn">Add Section</button>-->
      </div>

   </div>

</body>
</html>