<!doctype html>

<html>
<head>
   <title>Food Group</title>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="/js/javascript.js"></script>
<!--    <script src="/js/shoppingList.js"></script> -->
   <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>
   <header id="main-header">
      <div class="container">
         <h1><a href="#">Shopping List</a></h1>
      </div>
   </header>

   <ul id="items">
      {{#each shoppingLists}}
         <h1 class="member">{{memberName}}</h1>
            {{#each list}}
               <li>{{listItem}}</li>
            {{/each}}
      {{/each}}
   </ul>


    <div class="container">
      <ul id="navbar">
         <li class="barli"><a href="sections" class="bar">Sections</a></li>
         <li class="barli"><a href="shoppingList" class="bar">Shopping List</a></li>
         <li class="barli"><a href="group" class="bar">Group</a></li>
      </ul>
   </div>

   <button id="addSectionbtn">+</button>

   <!--Add section popup-->
   <div id="myModal" class="modal">
      <div class="modal-content">
         <span class="close">&times;</span>
         <header id="addItem-header">Add Item</header>
         <form id="addItem" method="get" action="/addToList">
            <label for="itemName">Item:</label><br />
            <input type="text" placeholder="Item Name" name="itemName" /><br />
            <label for="member">Member:</label><br />
            <select name="member">
               {{#each shoppingLists}}
               <option value="{{memberName}}">{{memberName}}</option>
               {{/each}}
            </select><br />
            <input type="submit" id="confirmItembtn" value="Add Item" />
         </form>
         <!--<button id="confirmItembtn">Add Item</button>-->
      </div>

   </div>

</body>
</html>